*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#4fc3f7;
    overflow:hidden;
}

canvas{
    border:4px solid #000;
    background:#87CEEB;
    width:400px;
    height:600px;
}

// Create Pipes
function createPipe() {

    const gap = 170;
    const topHeight = Math.random() * 250 + 50;

    pipes.push({
        x: canvas.width,
        width: 70,
        top: topHeight,
        bottom: topHeight + gap,
        passed: false
    });

}

setInterval(() => {
    if (!gameOver) createPipe();
}, 2000);

// Update Game
function update() {

    if (gameOver) return;

    // Gravity
    bird.velocity += bird.gravity;
    bird.y += bird.velocity;

    // Ground Collision
    if (bird.y + bird.height >= canvas.height) {
        gameOver = true;
    }

    // Ceiling
    if (bird.y < 0) {
        bird.y = 0;
    }

    // Pipes
    pipes.forEach(pipe => {

        pipe.x -= 3;

        // Score
        if (!pipe.passed && pipe.x + pipe.width < bird.x) {
            score++;
            pipe.passed = true;
        }

        // Collision
        if (
            bird.x < pipe.x + pipe.width &&
            bird.x + bird.width > pipe.x &&
            (
                bird.y < pipe.top ||
                bird.y + bird.height > pipe.bottom
            )
        ) 
// Draw Game
function draw() {

    // Background
    ctx.drawImage(bg, 0, 0, canvas.width, canvas.height);

    // Pipes
    ctx.fillStyle = "green";

    pipes.forEach(pipe => {

        // Top Pipe
        ctx.fillRect(pipe.x, 0, pipe.width, pipe.top);

        // Bottom Pipe
        ctx.fillRect(
            pipe.x,
            pipe.bottom,
            pipe.width,
            canvas.height - pipe.bottom
        );

    });

    // Player Head
    ctx.drawImage(
        head,
        bird.x,
        bird.y,
        bird.width,
        bird.height
    );

    // Score
    ctx.fillStyle = "white";
    ctx.font = "30px Arial";
    ctx.fillText("Score : " + score, 20, 40);

    // Game Over
    if (gameOver) {
        ctx.fillStyle = "red";
        ctx.font = "40px Arial";
        ctx.fillText("GAME OVER", 70, 300);

        ctx.font = "22px Arial";
        ctx.fillText("Refresh to Play Again", 80, 340);
    }

}

// Game Loop
function gameLoop() {

    update();

    draw();

    requestAnimationFrame(gameLoop);

}

gameLoop();

            
            gameOver = true;
        }

    });

}
