*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#4fc3f7;
    overflow:hidden;
}

canvas{
    border:4px solid #000;
    background:#87CEEB;
    width:400px;
    height:600px;
}
